*{
    margin: 0;
    padding: 0;
}

.nav{
    list-style: none;
    width: auto;
    background-color: pink;
    margin: 10px auto;
    overflow: hidden;
}

li{
    float: left;
    background-color: rgb(192, 96, 96);
    width: 20%;
}

li:nth-child(even){
    float: right;
    background-color: rgb(192, 96, 96);
    width: 20%;
}

a{
    display: block;
    width: 100%;
    font-size: 20px;
    color: black;
    text-align: center;
    text-decoration: none;
}

a:hover{
    background-color: green;
}